%logostudio{
    font-family: Raleway, sans-serif;
    // color: $logo-color;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.logo{
    @extend %logostudio;
    color: $logo-color;

}
.logo-white{
    @extend %logostudio;
    color: $additional-color;
}
.logo-web{
    color: $accent-color;
}